.be-hub__content,
.a-d-5,
.a-d-4,
.layout-align-center-center,
.be-hub__header,
.be-hub__activator,
.a-d-3 div:not(.ng-scope):not(.exitbfm),
.b-flex.b-flex--alignment-between-center.ng-scope {
	display: none !important;
}
.be-hub__views {
    width: 100vw !important;
    right: 0 !important;
}
@media only screen and (max-width: 949px) {
    .be-hub__views {
        right: 330px !important;
	}
}
.b-flex--alignment-between-center:not(.a-d-3) {
    margin-top: 15vw !important;
}
.be-hub__views {
    background-color: rgba(42,47,70,1) !important;
}
